<div class="books index">
    <h2>Books</h2>
    <% if flash[:notice] %>
        <div class = "notice"><%= flash[:notice]%></div>
        <%end%>
    <%= link_to("Add New book", new_book_path, :class => 'action new') %>
    <table class="listing" summary="book list">
        <tr class="header">
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Published at</th>
        </tr>
        <% @books.each do |book| %>
            <tr>
                <td class="center"><%= book.title %></td>
                <td class="center"><%= book.author %></td>
                <td class="center"><%= book.price %></td>
                <td class="center"><%= book.genre %></td>
                <td class="center"><%= book.published %></td>
                <td class="actions">
                    <%= link_to("Detail", book_path(book), :class => 'action show') %>
                    <%= link_to("Edit", edit_book_path(book), :class => 'action edit') %>
                    <%= link_to("Delete", delete_book_path(book)) %>
                </td>
            </tr>
        <% end %>
    </table>
</div>
